/*! #######################################################################

	MeanMenu 2.0.7
	--------

	To be used with jquery.meanmenu.js by Chris Wharton (http://www.meanthemes.com/plugins/meanmenu/)

####################################################################### */
a {
color: #fff;
text-decoration: none;
}


/* hide the link until viewport size is reached */

a.meanmenu-reveal {
  display: none;
}

/* when under viewport size, .mean-container is added to body */

.mean-container {
  .mean-bar {
    float: left;
    width: 100%;
    position: absolute;
    background-color: transparent;
    min-height: 65px;
  }
  a.meanmenu-reveal {
    z-index: 9999;
    width: 33px;
    height: 25px;
    padding: 19px 12px 19px 12px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    &:nth-child(2) {
      width: 33px;
      height: 13px;
    }
    span {
      display: block;
      background: #231f21;
      height: 3px;
      margin-bottom: 8px;
      &:nth-child(3) {
        margin-bottom: 0px;
      }
      &:nth-child(2) {
        margin-left: 4px;
        width: 25px;
      }
    }
  }
  .mean-nav {
    float: left;
    width: 100%;
    background-color: #231f21;
    margin-top: 65px;
    ul {
      padding: 0;
      margin: 0;
      width: 100%;
      list-style-type: none;
      li {
        position: relative;
        float: left;
        width: 100%;
        a {
          display: block;
          float: left;
          width: 100%;
          padding-bottom: 20px;
          margin: 0;
          text-align: left;
          text-transform: uppercase;
        }
        &.mean-last a {
          border-bottom: none;
          margin-bottom: 0;
        }
      }
    }
  }
  .mean-push {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    clear: both;
  }
}

.mean-nav .wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
}

/* Fix for box sizing on Foundation Framework etc. */

.mean-container .mean-bar {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
}

.mean-remove {
  display: none !important;
}

header nav {
  padding-left: 168px;
  /*background: #231f21;*/
  ul {
    margin: 0;
    padding: 7px;
    list-style-type: none;
    li {
      display: inline;
      &:first-child {
        margin-top: 165px;
        margin-left: 0;
      }
      ul {
        display: none;
      }
    }
  }
}

li ul {
  padding: 0;
  margin: 0;
}

nav {
  li {
    a {
      border-right: 1px solid #fff;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
    }
    &:last-child a {
      border-right: 0;
    }
  }
  a {
    color: #fff;
    display: inline-block;
    padding-right: 35px;
    padding-left: 30px;
    text-align: center;
    text-decoration: none;
    line-height: 22px;
  }
}

a {
 color: #fff;
 text-decoration: none;
 }

a:hover {
	text-decoration: none;
	}

/*Медиазапросы*/
@media (max-width: 1023px) {
  ul {
    top: 0px;
    position: absolute;
    z-index: 999;
    background-color: #231f21;
    height: 309px;
  }
  .items {
    padding-top: 65px;
  }
}