html {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: aliased;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Verdana, Helvetica, sans-serif;
}

/*Шрифты*/

.title-1 {
  font-family: "OpenSansLight";
  font-size: 23px;
  line-height: 100%;
  font-weight: normal;
}

.text-1 {
  font-family: "OpenSansLight";
  font-size: 23px;
  font-weight: normal;
  line-height: 22px;
}

.text-2 {
  font-family: "OpenSansLight";
  font-size: 13px;
  line-height: 100%;
  font-weight: normal;
}

.text-3 {
  font-family: "OpenSansSemiBold";
  font-size: 19px;
  line-height: 100%;
  font-weight: normal;
}

.text-4 {
  font-family: "OpenSansLight";
  font-size: 23px;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #ffffff;
  &:hover {
    color: #616161;
    -o-transition: color 0.2s ease-in;
    -webkit-transition: color 0.2s ease-in;
    -moz-transition: color 0.2s ease-in;
    transition: color 0.2s ease-in;
  }
}

.conteiner {
  width: 1024px;
  margin: auto;
}

/*Логотип*/

.logo__content {
  width: 102px;
  height: 116px;
  background-color: #78cd8f;
  position: absolute;
  margin-left: 58px;
  svg {
    padding: 12px 1px 0 1px;
  }
}

/*Меню*/

.menu {
  font-family: "OpenSansSemiBold";
  line-height: 22px;
  font-size: 19px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  background-color: #231f21;
}

/*Инфо о странице*/

.info__page {
  height: 64px;
  background-color: #dfdfdf;
  border-bottom: 1px solid #9e9e9e;
}

.info__page__title {
  padding-top: 26px;
  padding-left: 208px;
}

/*Товар*/

.product {
  height: 490px;
}

.product__pic {
  float: left;
  padding-top: 88px;
  margin-left: 135px;
}

.product__info {
  float: left;
  margin-top: 113px;
  margin-left: 154px;
  color: #454545;
}

.info-1 {
  padding-bottom: 22px;
}

.info-2 {
  padding-bottom: 22px;
  text-transform: uppercase;
}

.col {
  width: 216px;
  float: left;
}

/*Подвал*/

.footer {
  height: 50px;
  border-top: 1px solid #cccccc;
}

.footer__text {
  text-align: center;
  padding-top: 19px;
  color: #585555;
}

/*Медиазапросы*/

@media (max-width: 1023px) {
  .conteiner {
    width: 560px;
    margin: auto;
  }
  .logo__content {
    margin-left: 0px;
  }
  .info__page {
    height: 64px;
    background-color: #dfdfdf;
    border-bottom: 1px solid #9e9e9e;
  }
  .info__page__title {
    position: absolute;
    padding-top: 28px;
    padding-left: 150px;
    text-align: center;
  }
  .product {
    height: 904px;
  }
  .product__pic {
    float: none;
    text-align: center;
    padding-top: 120px;
    margin-left: 0px;
  }
  .product__info {
    float: none;
    margin-top: 138px;
    margin-left: 60px;
    margin-right: 60px;
    color: #454545;
  }
  .col {
    width: 220px;
    float: left;
  }
}

@media (max-width: 560px) {
  .conteiner {
    width: 310px;
    margin: auto;
  }
  .logo__content {
    width: 60px;
    height: 64px;
    svg {
    padding: 5px 1px 0 1px;
  }
  }
  .info__page__title {
    display: none;
  }
  .product {
    height: 851px;
  }
  .product__pic {
    float: none;
    padding-top: 42px;
    text-align: center;
    img {
      width: 170px;
      margin: auto;
    }
  }
  .product__info {
    float: none;
    margin-top: 37px;
    margin-left: 25px;
    margin-right: 25px;
    color: #454545;
  }
  .info-1 {
    padding-bottom: 45px;
  }
  .info-2 {
    padding-bottom: 0px;
    text-transform: uppercase;
  }
  .col {
    width: 260px;
  }
  .info-3 span {
    line-height: 65px;
  }
  .col {
    &:nth-child(1) {
      position: absolute;
      top: 478px;
    }
    &:nth-child(2) {
      position: absolute;
      top: 500px;
    }
  }
}

@media (max-width: 320px) {
  .footer {
    display: none;
  }
}